<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotificationDictionary">

        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:label="@string/about"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HistoryActivity"
            android:exported="true"
            android:label="@string/history"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".FavouriteActivity"
            android:exported="true"
            android:label="@string/favourite"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".ProcessTextActivity"
            android:exported="true"
            android:label="@string/process_text_label"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProcessViewActivity"
            android:exported="true"
            android:label="@string/process_text_label"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
    </application>

</manifest>
